.ChatSend {
  width: 100%;
  height: 7%;
  display: flex;
}

.Input {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.Button {
  width: 20%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
}

.Button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}