.Button {
  width: 150px;
  height: 50px;
  font: inherit;
  margin: 15px auto;
  background-color: transparent;
  border: 1px solid blueviolet;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  color: blueviolet;
  border-radius: 5px;
  outline: none;
}

.Button:disabled .Setting:disabled {
  color: gray;
  cursor: not-allowed;
}

.Setting {
  width: 80px;
  height: 28px;
  font: inherit;
  font-size: 80%;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
}