.Input {
  resize: none;
  width: 99%;
  height: 90%;
  font-size: 110%;
  margin: 0;
  border: none;
}

.Form {
  width: 25%;
  height: 75vh;
  margin: 0;
}

.Button {
  width: 100%;
  height: 9%;
  margin-top: -5px;
  font: inherit;
  box-sizing: border-box;
  border-top: 1px solid blueviolet;
}

.DarkButton {
  background-color: black;
  color: white;
}

.Button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}