.Input {
  resize: none;
  width: 99%;
  height: 89%;
  font-size: 110%;
  margin: 0;
  border: none;
}

.Form {
  width: 25%;
  height: 75vh;
  margin: 0;
  text-align: center;
}

.Button {
  width: 98%;
  height: 9%;
  font: inherit;
  box-sizing: border-box;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

.DarkButton {
  background-color: black;
  color: white;
}

.Button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}