.Page {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 500;
  align-items: center;
  justify-content: center;
}

.Create {
  width: 50%;
  text-align: center;
  border: 2px solid blueviolet;
}